@import '../../styles/styles.scss';

.wrapper {
    display: flex;
    flex-wrap: nowrap;
    border-bottom: 8px solid #222;
    padding: 50px 0;
    @media (max-width:600px) {
     flex-wrap: wrap;
     justify-content: center;
     text-align: center;
    }
}

.prevue__title {
    width: 50%;
    padding: 50px 5%;
    color: white;
    h1 {
        font-size: 2.825rem;

    }
    h2 {
        font-size: 1.425rem;
        font-weight: 400;
    }
    @media (max-width:1000px) {
        width: 90%;
        padding: 10px 2%;
    }
    @media (max-width:1000px) {
        h1 {
            font-size: 2.125rem;
    
        }
        h2 {
            font-size: 1.025rem;
            font-weight: 400;
        }
    }
}

.prevue__image {
    position: relative;
    video {
        z-index: 1;
        width: 65%;
        position: absolute;
        left: 75px;
        top: 90px;
        object-fit: contain;
        @media (max-width:1000px) {
            top:55px;
            left: 45px;
        }
        @media (max-width:600px) {
            top:62px;
            left: 75px;
        }
    }
}
img {
    z-index: 100;
    max-width: 90%;
    height: auto;
}

.row {
    flex-direction: row;
}

.reverse {
    flex-direction: row-reverse;
}