@import '../../../styles/styles.scss';


.footer__card {
    width: 100%;
    padding: 20px 45px;
    color: #757575; 
}

.footer__site {
    margin-top: 80px;
    padding-bottom: 20px;
    font-size: 1em;
    color: #757575;
}

.footer__wrapper {
    width: 80%;
    margin: 0 auto;
}

.footer__title {
    padding: 0;
    margin: 0 0 30px;
    margin-left: 40px;
    font-size: 1em;
}

.footer__links {
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
}

.footer__link {
    padding: 0;
    margin-bottom: 16px;
  
    display: inline-block;
    min-width: 100px;
    width: 25%;
    padding-right: 12x;
    vertical-align: top;
    a {
        text-decoration: none;
        color: #757575; 
        font-size: 13px;
    }
}

.footer__country {
    margin-left: 40px;
    select {
        width: 150px;
        height: 50px;
        color: #999;
        background-color: #000;
        border: 1px solid #333;
        font-size: 16px;
        line-height: 1.7;
        padding-left: 50px;
    }
}

@media (max-width: 600px) {
    .footer__title {
        font-size: 0.8em;
        white-space: nowrap;
        
    }
    .footer__card {
        padding: 10px 25px 70px 25px; 
    }

    .footer__link {
        width: 40%;
        margin-right: 25px;
        white-space: nowrap;
        a {
            font-size: 10px;
        }
    }
    .footer__wrapper {
        width: 90%;
    }
}