@import '../../styles/styles.scss';

.head__container {
    background-image: url('../../data//image/misc/home-bg.jpg');
    display: flex;
    flex-direction: column;
    justify-content: center;
    // align-items:center
}

.head__nav {
    display: flex;
    justify-content: space-between;
    padding: 25px 60px;
    img {
        width: 118px;
    }
    button {
        display: block;
        background-color: #e50914;
        color: white;
        width: 94px;
        height: fit-content;
        border: 0;
        font-size: 15px;
        border-radius: 3px;
        padding: 6px 8px;
        cursor: pointer;
        text-decoration: none;
        &:hover {
            background-color: #f40612
        }
    }
}