.header {
    margin-top: 150px;
    margin-bottom: 150px;
}
.header__info {
    width: 100%;
    text-align: center;
}
.header__description {
    margin: 1rem auto;
    width: 50%;
    color: white;
    line-height: 56px;
    
    h1 {
        font-size: 2.925rem;
        line-height: 55px;
    }
    h3 {
        font-size: 1.525rem;
        font-weight: 400;
        margin-top: -25px;
    }
}
.header__form {
    width: 100%;
    text-align: center;
    h3 {
        color: white;
        font-weight: 400;
    }
    input {
        width: 450px;
        height: 59px!important;
        padding-left: 10px;
        display: block;
        margin: auto;
    }
    button {
        border-radius: 3px;
        vertical-align: middle;
        cursor: pointer;
        color: white;
        font-size: 24px;
        font-weight: 400;
        letter-spacing: .1px;
        border: none;
        background-color: #e50914;
        height: 60px!important;
        overflow: visible;
        padding: 0 20px;
    }
    img {
        filter: brightness(0) invert(1);
        width: 20px;
        margin-left: 10px;
    }
}

@media (max-width: 1000px) {
    .header__description {
        width: 90%;
    }
    .header__form {
        h3 {
            margin: 0 95px;
        }
        input {
            height: 45px!important;
        }
        button {
            height: 45px!important;
        }
    }
}
@media (max-width: 670px) {
    .header {
        padding-bottom: 50px;
    }
    .header__info {
        margin-top: -105px;
    }
    .header__description {
        h1 {
            font-size: 1.525rem;
            line-height: 35px;
            z-index: 99;
        }
        h3 {
            font-size: 0.7rem;
            font-weight: 400;
        }
    }
    .header__form {
        h3 {
            font-size: 15px;
            margin: -20px 55px 20px 55px;

        }
        input {
            height: 45px!important;
            width: 250px;
        }
        button {
            margin: 5px 25px 0 25px;
            height: 45px;
            width: 250px;
            font-size: 15px;
            white-space: nowrap;
            padding: 0 8px;
        }
        img {
            filter: brightness(0) invert(1);
            width: 10px;
            margin-left: 10px;
        }
    }
}